---
import { Image } from "astro:assets"

const {title, description, icon} = Astro.props
---

<div class="value">
    <Image src={icon} alt={title} class="h-20 w-20" />
    <div>
        <h2 class="font-semibold text-xl !mb-4">{title}</h2>
        <p>{description}</p>
    </div>
</div>

<style>
    .value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        padding: 1rem;
        /* background-color: #fcead2; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 
              0 2px 4px rgba(0, 0, 0, 0.06);
        border-radius: .5rem;
    }
</style>