---
import { Image } from "astro:assets"

const {title, description, image} = Astro.props
---

<div class="activity h-[350px]">
    <div class="image-container">
        <Image src={image} alt={title} />
    </div>
    <div class="content">
        <h4 class="font-semibold text-2xl !mb-4 uppercase flex items-center justify-between">
            {title} 
            <i class="fas fa-arrow-right-long text-xs text-gray-300"></i> 
        </h4>
        <p class="text-[1.08rem] font-normal">{description}</p>
    </div>
</div>