---
import '../styles/global.css'
---

<header class="h-[4rem] py-4 !mb-3 header">
    <div class="container flex justify-between items-center h-[100%] border-b">
        <h1 class="text-2xl font-bold text-[#00879E] uppercase logo">Triple E</h1>
        <nav>
            <ul class="flex items-center gap-10">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">News</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
                <li>
                    <a href="/" class="bg-[#00879E] text-white !py-2.5 !px-3.5 rounded-lg inline-block">Get involved</a>
                </li>
            </ul>
        </nav>
    </div>
</header>