---
import { Image } from "astro:assets";
import hero from '../assets/hero.jpeg'
---

<section class="h-[70vh] hero">
    <div class="container rounded-lg h-[100%] relative">
        <div class="absolute inset-y-0 left-16 bottom-[13rem] flex flex-col justify-end text-3xl font-bold drop-shadow-lg">
            <h1 class="uppercase text-white">Come for the books</h1>
            <h2 class="uppercase text-white">Stay for the community</h2>
        </div> 
    </div>
</section>