<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header class="h-[4rem] py-4 !mb-3 header">
			<div class="container flex justify-between items-center h-[100%] border-b">
				<h1>Triple E</h1>
				<nav>
					<ul class="flex items-center gap-10">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/">About</a>
						</li>
						<li>
							<a href="/">News</a>
						</li>
						<li>
							<a href="/">Events</a>
						</li>
						<li>
							<a href="/" class="bg-amber-300 !py-2.5 !px-3.5 rounded-lg inline-block">Get involved</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
